form
	label(for='name="login"') login
	input(name="login" required type="text").login-input
	label(for='name="password"') password
	input(name="password" required type="password").password-input
	button(type="submit").submit-button.button sign-in