html
	head
	body
		header monefy
		<router-link to="/budget/123"> go to budg </router-view>
		div#app
		footer
		script(type="application/json")#initialData
		script(src="/static/js/bundle.js")#bundle
